<TR>
    <TD BORDER="{{ theme.tableBorder }}" ALIGN="LEFT" BGCOLOR="{{ theme.attributes.background }}">
        {% if definition.hasAttributes %}
            {% for constant in definition.constants %}
                {% include 'partials/_constant.html.twig' %}
            {% endfor %}
            {% for attribute in definition.attributes %}
                {% include 'partials/_attribute.html.twig' %}
            {% endfor %}
        {% else %}
            &nbsp;
        {% endif %}
    </TD>
</TR>
