{
    "source": {
        "directories": [
            "src"
        ],
        "excludes": [
            "resources"
        ]
    },
    "logs": {
        "text": "infection.log"
    },
    "mutators": {
        "@default": true
    },
    "minMsi": 87,
    "minCoveredMsi": 87
}
