{
    "timeout": 25,
    "source": {
        "directories": [
            "src"
        ],
        "excludes": [
            "resources"
        ]
    },
    "logs": {
        "text": "infection.log",
        "badge": {
            "branch": "master"
        }
    },
    "mutators": {
        "@default": true
    },
    "minMsi": 94,
    "minCoveredMsi": 94
}
