<TR>
    <TD BORDER="{{ style.tableBorder }}" ALIGN="LEFT" BGCOLOR="{{ style.attributes.background }}">
        {% for attribute in definition.attributes %}
            {% include '_attribute.html.twig' %}
        {% else %}
            &nbsp;
        {% endfor %}
    </TD>
</TR>
