<TR>
    <TD BORDER="{{ style.tableBorder }}" ALIGN="LEFT" BGCOLOR="{{ style.attributes.background }}">
        {% if definition.hasAttributes %}
            {% for constant in definition.constants %}
                {% include '_constant.html.twig' %}
            {% endfor %}
            {% for attribute in definition.attributes %}
                {% include '_attribute.html.twig' %}
            {% endfor %}
        {% else %}
            &nbsp;
        {% endif %}
    </TD>
</TR>
