<TR>
    <TD BORDER="{{ style.tableBorder }}" ALIGN="LEFT" BGCOLOR="{{ style.methods.background }}">
        {% for method in definition.methods %}
            {% include '_method.html.twig' %}
        {% else %}
            &nbsp;
        {% endfor %}
    </TD>
</TR>
