{% set tag %}
<TABLE CELLSPACING="0" BORDER="0" ALIGN="LEFT">
    {% include 'partials/_name.html.twig' with {'definition': definition, 'isAbstract': definition.isAbstract, 'theme': theme} %}
    {% include style.attributes with  {'definition': definition, 'theme' : theme} %}
    {% include style.methods with {'definition': definition, 'theme' : theme} %}
</TABLE>
{% endset %}
{{ tag|replace({ '\n': '', '\r': '' })|whitespace|raw }}
