{% extends 'style.html.twig' %}
{% block content %}
<TABLE CELLSPACING="0" BORDER="0" ALIGN="LEFT">
    {% include '_name.html.twig' with {'definition': class, 'isAbstract': class.isAbstract, 'style': classStyle} %}
    {% include attributes with  {'definition': class, 'style' : classStyle} %}
    {% include methods with {'definition': class, 'style' : classStyle} %}
</TABLE>
{% endblock %}
