{% extends 'style.html.twig' %}
{% block content %}
<TABLE CELLSPACING="0" BORDER="0" ALIGN="LEFT">
    {% include '_name.html.twig' with {'definition': interface, 'style': interfaceStyle} %}
    {% include '_attributes.html.twig' with {'definition': interface, 'style' : interfaceStyle} %}
    {% include '_methods.html.twig' with {'definition': interface, 'style' : interfaceStyle} %}
</TABLE>
{% endblock %}
