name: CI

on: [push, pull_request]

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - name: "Checkout project"
        uses: actions/checkout@v1

      - name: "Install PHP with extensions"
        uses: "shivammathur/setup-php@v2"
        with:
          php-version: "7.4"
          extensions: imagick
          ini-values: memory_limit=-1
          coverage: xdebug
          tools: composer

      - name: "Install dependencies with composer"
        run: |
          sudo apt-get install graphviz
          composer install --no-interaction --no-progress --no-suggest

      - name: "Code quality checks"
        run: "make check"

      - name: "Run tests with coverage"
        run: "vendor/bin/phpunit --exclude-group=snapshot --coverage-text --coverage-clover=coverage.clover"

      - name: "Send code coverage to Scrutinizer"
        run: |
          wget https://scrutinizer-ci.com/ocular.phar
          php ocular.phar code-coverage:upload --format=php-clover coverage.clover
